* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$trang: #fff;
$den: #000000;
$dodo: #c0392b;
$cam: #d35400;
$camnhat: #e67e22;
$vang: #f1c40f;
$vangcam: #f39c12;
$tim: #8e44ad;
$xanhdatroi: #2980b9;
$xanhlacay: #27ae60;
$greensea: #16a085;
$bg: #f5f5f5;
$chumo: #919191;
$bg-button: #393939;

.tieude {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  // padding: 40px 0 0 0;
  .td {
    position: relative;
    text-decoration: none;
    color: black;
  }
}
.talc {
  text-align: center;
}
.td::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #b1b1b1;
  width: 77px;
  top: 150%;
  left: 0;
}
.td::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #b1b1b1;
  width: 44px;
  top: 128%;
  left: 0;
}

//header
header {
  width: 100%;
  background-color: $bg;
  z-index: 100;
  transition: 2s;
  .container {
    transition: 2s;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid #DDD;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    justify-content: space-between;
    &-logo {
      width: 80px;
      height: 80px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-menu {
      // width: 100%;
      &-wrap {
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: black;
          padding: 0 20px;
          font-size: 14px;
          position: relative;
          i {
            color: #000;
            opacity: 0.7;
            filter: Alpha(opacity=70);
            font-size: 16px;
          }
        }
        a:not(:last-child):after {
          content: "";
          position: absolute;
          height: 2px;
          top: 110%;
          left: 50%;
          background-color: black;
          width: 0;
          transition: 1s;
        }
        a:hover:after {
          left: 15%;
          width: 70%;
          margin: 0 auto;
          // transition: 1s;
        }
        input {
          padding: 10px;
          margin-left: 10px;
          border: none;
          outline: none;
          background-color: $bg;
          border-bottom: 1px solid white;
        }
      }
    }
    &-iconbar {
      font-size: 26px;
      display: none;
    }
  }
}

//me
.me {
  width: 100%;
  background-color: $bg;
  .me-wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    &-info {
      width: 50%;
      margin-bottom: 20px;
      &-contain {
        padding: 20px;
        h5 {
          font-weight: 700;
          font-size: 18px;
          color: #919191;
          margin-bottom: 15px;
        }
        h1 {
          font-weight: 700;
          font-size: 44px;
          color: #414141;

          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: #6a6a6a;
          line-height: 28px;
          margin-bottom: 15px;
        }
        .buttonn {
          width: 174px;
          height: 47px;
          line-height: 47px;
          background-color: #393939;
          margin-top: 40px;
          a {
            font-size: 14px;
            color: $trang;
            font-weight: 400;
            // padding: 0 50px;
          }
        }
        .buttonn:hover {
          background-color: $den;
          transition: 0.4s;
        }
      }
    }
    &-img {
      width: 50%;
      max-height: 800px;
      overflow: hidden;
      img {
        width: 100%;
        // height: 100%;
        object-fit: cover;
      }
    }
  }
}

//about
.about {
  width: 100%;
  // height: 700px;
  .about-wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    .about-wrap-contain {
      flex-wrap: wrap;
      padding: 100px 0;
      margin: 0 auto;
      &-info {
        padding: 20px;
        h5 {
          font-size: 22px;
          font-weight: 600;
          color: #4f4f4f;
          line-height: 24px;
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          color: #767676;
          margin-bottom: 15px;
        }
        .buttonn {
          margin: 40px 0 0 0;
          height: 50px;
          line-height: 50px;

          a {
            padding-left: 30px;
            padding-right: 30px;
            color: $trang;
            font-size: 14px;
            font-weight: 400;
            background-color: $bg-button;
            padding: 17px 30px;
            i {
              margin-left: 5px;
            }
          }
        }
      }
      &-skill {
        &-wrap {
          margin: 0 auto;
          padding: 20px 0;
          .skill-bar {
            margin-bottom: 20px;
            .skill-bar-title {
              padding: 0 5px;
            }
            .skill-bar-count {
              height: 10px;
              width: 100%;
              background-color: #c8c8c8;
              border-radius: 10px;
              margin: 10px 0;
              .skill {
                background-color: #484848;
                // width: 90%;
                height: 10px;
                border-radius: 10px;
              }
              .design {
                width: 60%;
                position: relative;
              }
              .design:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #484848;
                left: 96%;
                top: -4px;
                box-shadow: 0 0 8px black;
              }
              .html {
                width: 80%;
                position: relative;
              }
              .html:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #484848;
                left: 96%;
                top: -4px;
                box-shadow: 0 0 8px black;
              }
              .js {
                width: 60%;
                position: relative;
              }
              .js:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #484848;
                left: 96%;
                top: -4px;
                box-shadow: 0 0 8px black;
              }
              .rwd {
                width: 70%;
                position: relative;
              }
              .rwd:after {
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #484848;
                left: 96%;
                top: -4px;
                box-shadow: 0 0 8px black;
              }
            }
          }
        }
      }
    }
  }
}
//experince

.experince {
  width: 100%;
  background-color: $bg;

  &-wrap {
    max-width: 1280px;
    // height: 700px;
    &-contain {
      padding: 100px 0;
      .experince-row {
        width: 100%;
        flex-wrap: wrap;
        &-col {
          padding: 0 15px;
          &-item {
            padding-bottom: 54px;
            // flex-wrap: wrap;
            &-left {
              width: 168px;
              span {
                font-size: 20px;
                font-weight: 400;
                line-height: 20px;
                color: #696969;
              }
              p {
                font-size: 16px;
                font-weight: 500;
                color: #959595;
                margin-top: 10px;
              }
            }
            &-right {
              h1 {
                font-size: 22px;
                font-weight: 600;
                line-height: 22px;
                color: #5e5e5e;
                margin-bottom: 15px;
                i{
                  margin-right: 36px;
                  position: relative;
                }
                .dai{
                  position: relative;
                }
                .dai:after{
                  content: "";
                  position: absolute;
                  height: 97px;
                  border: 1px dashed #777777;
                  top: 22px;
                  left: 10px;
                }
              }
              p {
                font-size: 16px;
                font-weight: 500;
                color: #767676;
                padding-left: 36px;
              }
            }
          }
        }
      }
    }
  }
}


//Portfolio
.portfolio{
  width: 100%;
  .portfolio-wrap{
    max-width: 1280px;
    // height: 700px;
    padding: 20px;
    &-contain{
      padding: 100px 0;
      .cacmuc{
        margin-bottom: 50px;
        a{
          padding: 5px 10px;
          font-size: 14px;
          font-weight: 400;
          color: #6d6d6d;
        }
      }
      &-cuc{
        height: 100%;
        .row{
          height: 50%;
          .col{
            .hi{
              height: 100%;
              padding: 5px;
              .col-item{
                overflow: hidden;
                position: relative;
                .overlay{
                  position: absolute;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  // z-index: -1;
                  background-color: rgba($color:#f9f9f9, $alpha: 0.6);
                  opacity: 0;
                  i{
                    padding: 16px;
                    background-color: rgba($color: #000, $alpha: 0.15);
                    border-radius: 50%;
                    color: $trang;
                  }
                }
                .moredetail{
                  position: absolute;
                  width: 100%;
                  bottom: -100%;
                  color:  #4f4f4f;
                  text-align: center;
                  z-index: 2;
                  cursor: pointer;
                  .text{
                    h5{
                      font-size: 20px;
                      font-weight: 400;
                      color: #636363;
                      
                    }
                    p{
                      font-size: 16px;
                      font-weight: 400;
                      color: #767676;
                      margin-top: 20px;
                    }
                  }
                }
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                
              }
              .col-item:hover{
                .overlay{
                  opacity: 1;
                  transition: 0.6s;
                }
                img{
                  transform: scale(1.2);
                  transition: 1s;
                }
                .moredetail{
                  bottom: 40px;
                  transition: 1s;
                }
              }
            }
          }
        }
      }
    }
  }
}


//myservice
.myservice {
  width: 100%;
  background-color: $bg;
  // height: 700px;
  &-wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    // padding: 100px 0;
    // border: 1px solid black;
    &-title {
      text-align: center;
      padding: 20px 0 0 0;
      a {
        color: $den;
        text-decoration: none;
      }
    }

    &-row {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 100px 0;
      justify-content: center;
      &-item {
        padding: 0 10px;
        margin-bottom: 30px;
        .boccc {
          width: 100%;
          margin: 0 auto;
          box-shadow: 0 1px 5px rgba(5, 5, 6, 0.15);
          padding: 50px 20px;
          .myservice-wrap-row-item__icon {
            text-align: center;
            margin-bottom: 20px;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border: 1px solid #ddd;
            border-radius: 50%;
            margin: 0 auto 20px auto;
          }
          .myservice-wrap-row-item__title {
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
          }
          .myservice-wrap-row-item__txt {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            opacity: 0.7;
            margin-bottom: 20px;
          }
        }
      }
      &-item:hover{
        .boccc{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .myservice-wrap-row-item__icon {
          background-color: rgba($color: #000000, $alpha: 0.7);
          i{
            color: $trang;
          }
        }
      }
    }
  }
}

//nhan xet
.nhanxet{
  width: 100%;
  .nhanxet-wrap{
    max-width: 1280px;
    &-contain{
      margin: 80px auto 80px auto;
      position: relative;
      &-img{
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &-info{
        background-color: $bg;
        padding: 20px;
        h1{
          font-size: 22px;
          font-weight: 700;
          line-height: 22px;
          color: #5c5c5c;
          margin-bottom: 25px;
          margin-top: 100px;
        }
        h5{
          font-weight: 700;
          font-size: 15px;
          color: #838383;
          margin-bottom: 25px;
        }
        p{
          font-weight: 400;
          color: #888888;
          margin-bottom: 40px;
        }
        .dotted{
          display: flex;
          width: 80%;
          margin: 0 auto;
          justify-content: center;
          span{
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #777777;
            margin: 0 5px;
          }
          span:hover{
            background-color: #240909;
          }
        }
      }
    }
  }
}

// my blog
.myblog {
  width: 100%;
  background-color: #f5f5f5;
  &-wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid #DDD;
    &-row {
      width: 100%;
      margin: 0 auto;
      padding: 100px 0;
      display: flex;
      flex-wrap: wrap;
      &-item {
        width: 33.333333333%;
        padding: 0 10px;
        &__img {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__info {
          display: flex;
          justify-content: space-between;
          border: 1px solid rgba($color: #ddd, $alpha: 0.6);
          padding: 20px 10px;
          cursor: pointer;
          &-time {
            font-size: 12px;
            font-weight: 400;
            cursor: pointer;
            i {
              margin-right: 5px;
              font-size: 12px;
            }
          }
          &-cmt {
            font-size: 12px;
            font-weight: 400;
            cursor: pointer;
            i {
              font-size: 12px;
              margin-right: 5px;
            }
          }
        }
        // &__info:hover{
        //   background-color: white;
        //   border: none;
        // }
        &__txt {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 10px;
          box-shadow: 0 5px 5px rgba(2, 3, 3, 0.1);
          p {
            line-height: 33px;
            font-size: 18px;
            flex-grow: 1;
          }
          a {
            width: 33px;
            height: 33px;
            border: 1px solid #ddd;
            border-radius: 50%;
            text-align: center;
            line-height: 33px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            transition: 0.4s;
          }
          a:hover {
            background-color: black;
            color: white;
          }
        }
        &__txt:hover {
          background-color: white;
        }
      }
    }
  }
}
//contact
.contact {
  width: 100%;
  &-wrap {
    max-width: 1280px;
    // width: 100%;
    margin: 0 auto;
    // border: 1px solid #ddd;
    // height: 700px;
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    &__gettouch {
      width: 32.7%;
      padding: 20px;
      //   border: 1px solid #ddd;
      &__title {
        h1 {
          font-size: 32px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 44px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          color: #777777;
        }
      }
      &__info {
        margin-top: 40px;
        &-item {
          display: flex;
          padding: 10px 0;
          &__icon {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #ddd;
          }
          &__contact {
            padding: 0 20px;
            span {
              font-size: 18px;
              font-weight: 400;
            }
            p {
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
    &__contact {
      width: 67%;
      //   border: 1px solid #ddd;
      display: flex;
      align-items: center;
      //   flex-wrap: wrap;
      &-wrap {
        width: 80%;
        margin: 0 auto;
        // display: flex;
        // flex-wrap: wrap;
        form {
          width: 100%;
          .ipu {
            display: flex;
            justify-content: space-between;
            input {
              width: 48%;
              padding: 5px 0 5px 20px;
              border: none;
              border-bottom: 1px solid #ddd;
              font-size: 14px;
              font-weight: 300;
            }
          }

          textarea {
            // width: 90%;
            height: 150px;
            max-height: 200px;
            resize: vertical;
            padding: 10px 20px;
            margin-top: 50px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            width: 100%;
          }
          input[type="submit"] {
            margin-top: 30px;
            background-color: #000;
            border: none;
            padding: 10px 40px;
            color: white;
            font-weight: 400;
          }
        }
      }
    }
  }
}
//footer
footer {
  background-color: $bg;
  .container {
    background-color: $bg;
    max-width: 1280px;
    margin: 0 auto;
    &-row {
      display: flex;
      justify-content: space-between;
      line-height: 60px;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      &-left {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-size: 13px;
        }
      }
      &-right {
        a {
          padding: 5px 10px;
          color: $chumo;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
        }
      }
    }
  }
}

// sidebar
.nav__tablet-wrap {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000, $alpha: 0.55);
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  // right: 0;
  opacity: 0;
  transition: 1.5s;
  &-account {
    background-color: #000000;
    margin: 0 auto;
    position: relative;
    .closeNav {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $trang;
      font-size: 18px;
      position: absolute;
      top: 5px;
      right: 20px;
      cursor: pointer;
      transition: 1s;
      // padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .closeNav:hover {
      color: $trang;
      transform: rotate(360deg);
      background-color: rgba($color: #000, $alpha: 1);
      border: 1px solid $trang;
    }
    &__icon {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      width: 120px;
      height: 120px;
      padding: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
      }
      i {
        margin: 0 auto;
        font-size: 40px;
        color: $trang;
        padding: 20px;
        border-radius: 50%;
        border: 3px solid $trang;
      }
    }
    &__info {
      text-align: center;
      padding: 20px;
      color: $trang;
      cursor: pointer;
      i {
        margin-left: 10px;
      }
    }
  }
  &-login {
    width: 100%;
    // display: flex;
    flex-direction: column;
    // background-color: #95a5a6;
    background-color: $trang;
    // height: 0%;
    display: block;
    transition: 1s;
    height: 0;
    overflow: hidden;
    // background: #c0392b;
    a {
      color: black;
      padding: 10px 20px;
      text-decoration: none;
      transition: 1s;
      font-size: 14px;
      padding-left: 50px;
      display: block;
      transition: 1s;
      i {
        margin-right: 10px;
        // color: $trang;
      }
    }
    a:hover {
      background-color: #ecf0f1;
    }
  }
  &-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid $trang;
    a {
      text-decoration: none;
      padding: 15px 20px;
      color: $trang;
      transition: 1s;
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: 1px solid #919191;
      i {
        margin-right: 20px;
        font-size: 18px;
        color: $trang;
      }
    }
    a:hover {
      color: $trang;
    }
  }
  &-language {
    a {
      text-decoration: none;
      color: $trang;
      display: block;
      padding: 10px 20px;
      border: 1px solid #919191;
      i {
        margin-right: 20px;
      }
      select {
        margin-left: 20px !important;
        width: 36%;
        padding: 5px;
        border-radius: 5px;
        background-color: $trang;
        option {
          background-color: $trang;
          color: $den;
        }
        option:hover {
          background-color: $dodo;
        }
      }
      span {
        margin-left: 50px;
      }
    }
  }
}
