* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$trang: #fff;
$den: #000000;
$dodo: #c0392b;
$cam: #d35400;
$camnhat: #e67e22;
$vang: #f1c40f;
$vangcam: #f39c12;
$tim: #8e44ad;
$xanhdatroi: #2980b9;
$xanhlacay: #27ae60;
$greensea: #16a085;
$bg: #f5f5f5;
$chumo: #919191;

.tieude {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  .td{
    position: relative;
  }
}
.talc{
  text-align: center;
}
.td::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #b1b1b1;
  width: 77px;
  top: 150%;
  left: 0;
}
.td::before{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #b1b1b1;
  width: 44px;
  top: 128%;
  left: 0;
}

//header
header{
  width: 100%;
  background-color: $bg;
  .container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid #DDD;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    justify-content: space-between;
    &-logo{
      width: 80px;
      height: 80px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-menu{
      // width: 100%;
      &-wrap{
        a{
          text-decoration: none;
          text-transform: uppercase;
          color: black;
          padding: 0 20px;
          font-size: 14px;
          position: relative;
          i{
            color: #000;
            opacity: 0.7;
            filter: Alpha(opacity=70);
            font-size: 16px;
          }
        }
        a:not(:last-child):after{
          content: "";
          position: absolute;
          height: 2px;
          top: 110%;
          left: 50%;
          background-color: black;
          width: 0;
          transition: 1s;
        }
        a:hover:after {
          left: 15%;
          width: 70%;
          margin: 0 auto;
          // transition: 1s;
        }
        input{
          padding-left: 10px;
          margin-left: 10px;
          border: none;
          outline: none;
          background-color: $bg;
          border-bottom: 1px solid white;
        }
      }
    }
    &-iconbar{
      font-size: 26px;
      display: none;
    }
  }
}

//myservice
.myservice{
  width: 100%;
  background-color: $bg;
  // height: 700px;
  &-wrap{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    // padding: 100px 0;
    // border: 1px solid black;
    &-title{
      text-align: center;
      a{
        color: $den;
        text-decoration: none;
      }
    }

    &-row{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 100px 0;
      justify-content: center;
      &-item{
        padding: 0 10px;
        margin-bottom: 30px;
        .boccc{
          width: 100%;
          margin: 0 auto;
        box-shadow: 0 1px 5px rgba(5,5,6,.15);
        padding: 50px 20px;
        .myservice-wrap-row-item__icon{
          text-align: center;
          margin-bottom: 20px;
        }
        .myservice-wrap-row-item__title{
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500;  
          margin-bottom: 20px;      
        }
        .myservice-wrap-row-item__txt{
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          opacity: 0.7;
          margin-bottom: 20px;
        }
        }
      }
    }
  }
}


// my blog
.myblog{
  width: 100%;
  background-color: #f5f5f5;
  &-wrap{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid #DDD;
    &-row{
      width: 100%;
      margin: 0 auto;
      padding: 100px 0;
      display: flex;
      flex-wrap: wrap;
      &-item{
        width: 33.333333333%;
        padding: 0 10px;
        &__img{
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__info{
          display: flex;
          justify-content: space-between;
          border: 1px solid rgba($color: #ddd, $alpha: 0.6);
            padding: 20px 10px;
            cursor: pointer;
          &-time{
            font-size: 12px;
            font-weight: 400;
            cursor: pointer;
            i{
              margin-right: 5px;
              font-size: 12px;
            }
          }
          &-cmt{
            font-size: 12px;
            font-weight: 400;
            cursor: pointer;
            i{
              font-size: 12px;
              margin-right: 5px;
            }
          }
        }
        // &__info:hover{
        //   background-color: white;
        //   border: none;
        // }
        &__txt{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 10px;
          box-shadow: 0 5px 5px rgba(2,3,3,.1);
          p{
            line-height: 33px;
            font-size: 18px;
            flex-grow: 1;
          }
          a{
            width: 33px;
            height: 33px;
            border: 1px solid #DDD;
            border-radius: 50%;
            text-align: center;
            line-height: 33px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            transition: .4s;
          }
          a:hover{
            background-color: black;
            color: white;
          }

        }
        &__txt:hover{
          background-color: white;
        }
      }
     
    }
  }
}
//contact
.contact {
  width: 100%;
  &-wrap {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid #ddd;
    // height: 700px;
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    &__gettouch {
      width: 32.7%;
      padding: 20px;
      //   border: 1px solid #ddd;
      &__title {
        h1 {
          font-size: 32px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 44px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          color: #777777;
        }
      }
      &__info {
        margin-top: 40px;
        &-item {
          display: flex;
          padding: 10px 0;
          &__icon {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #ddd;
          }
          &__contact {
            padding: 0 20px;
            span {
              font-size: 18px;
              font-weight: 400;
            }
            p {
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
    &__contact {
      width: 67%;
      //   border: 1px solid #ddd;
      display: flex;
      align-items: center;
      //   flex-wrap: wrap;
      &-wrap {
        width: 80%;
        margin: 0 auto;
        // display: flex;
        // flex-wrap: wrap;
        form {
          width: 100%;
          .ipu {
            display: flex;
            justify-content: space-between;
            input {
              width: 48%;
              padding: 5px 0 5px 20px;
              border: none;
              border-bottom: 1px solid #ddd;
              font-size: 14px;
              font-weight: 300;
            }
          }

          textarea {
            // width: 90%;
            height: 150px;
            max-height: 200px;
            resize: vertical;
            padding: 10px 20px;
            margin-top: 50px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            width: 100%;
          }
          input[type="submit"] {
            margin-top: 30px;
            background-color: #000;
            border: none;
            padding: 10px 40px;
            color: white;
            font-weight: 400;
          }
        }
      }
    }
  }
}
//footer
footer {
  background-color: $bg;
  .container {
    background-color: $bg;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    &-row {
      display: flex;
      justify-content: space-between;
      line-height: 60px;
      align-items: center;
      &-left {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          font-size: 13px;
        }
      }
      &-right {
        a {
          padding: 5px 10px;
          color: $chumo;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
        }
      }
    }
  }
}


// sidebar
.nav__tablet-wrap {
  max-width: 300px;
  width: 100%;
  height: 100vh;
  background-color: rgba($color:#000, $alpha: 0.55);
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  // right: 0;
  opacity: 0;
  transition: 1.5s;
  &-account {
    background-color: #000000;
    margin: 0 auto;
    position: relative;
    .closeNav {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $trang;
      font-size: 18px;
      position: absolute;
      top: 5px;
      right: 20px;
      cursor: pointer;
      transition: 1s;
      // padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .closeNav:hover {
      color: $trang;
      transform: rotate(360deg);
      background-color: rgba($color: #000, $alpha: 1);
      border: 1px solid $trang;
    }
    &__icon {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      width: 120px;
      height: 120px;
      padding: 20px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
      }
      i {
        margin: 0 auto;
        font-size: 40px;
        color: $trang;
        padding: 20px;
        border-radius: 50%;
        border: 3px solid $trang;
      }
    }
    &__info {
      text-align: center;
      padding: 20px;
      color: $trang;
      cursor: pointer;
      i {
        margin-left: 10px;
      }
    }
  }
  &-login {
    width: 100%;
    // display: flex;
    flex-direction: column;
    // background-color: #95a5a6;
    background-color: $trang;
    // height: 0%;
    display: block;
    transition: 1s;
    height: 0;
    overflow: hidden;
    // background: #c0392b;
    a {
      color: black;
      padding: 10px 20px;
      text-decoration: none;
      transition: 1s;
      font-size: 14px;
      padding-left: 50px;
      display: block;
      transition: 1s;
      i {
        margin-right: 10px;
        // color: $trang;
      }
    }
    a:hover {
      background-color: #ecf0f1;
    }
  }
  &-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid $trang;
    a {
      text-decoration: none;
      padding: 15px 20px;
      color: $trang;
      transition: 1s;
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: 1px solid #919191;
      i {
        margin-right: 20px;
        font-size: 18px;
        color: $trang;
      }
    }
    a:hover {
      color: $trang;
    }
  }
  &-language {
    a {
      text-decoration: none;
      color: $trang;
      display: block;
      padding: 10px 20px;
      border: 1px solid #919191;
      i{
        margin-right: 20px;
      }
      select {
        margin-left: 20px !important;
        width: 36%;
        padding: 5px;
        border-radius: 5px;
        background-color: $trang;
        option{
          background-color: $trang;
          color: $den;
        }
        option:hover{
          background-color: $dodo;
        }
      }
      span {
        margin-left: 50px;
      }
    }
  }
}